# OpenHCP
RewriteEngine on
# make sure it's HTTPs
#RewriteCond %{HTTPS} !=on
#RewriteRule (.*) https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
# redirect almost everything to index.php
RewriteCond $1 !^index\.php
RewriteRule ^(.*)$ index.php/$1 [L]
# OpenHCP
